.filterSearchbar {
  position: relative;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-wrap: wrap;
}
.filterSearchbar > div {
  margin-right: 10px;
  width: 250px
}
.filterSearchbar > div:nth-last-child(2) {
  width: auto;
}
.actions {
  margin-top: 38px;

}
.actions > div {
  margin-right: 10px;
}
.closeBtn {
  width: 28px !important;
  position: absolute;
  right: 0px;
  top: 2px;
  cursor: pointer;
}

.expandedWidth {
  width: 340px;
}
