.parentRow {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #bdbdbd;
  margin-bottom: -1px;
}

.editIcon {
  cursor: pointer;
  color: #2196f3;
  fill: #2196f3;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  height: 27px;
  width: 27px;
}
.editIcon:hover {
  color: #1976d2;
  fill: #1976d2;
}

.textfield {
  width: 170px;
}

.dropdown {
  width: 190px;
}
.dropdownSm {
  width: 100px;
}

.customTable {
  margin-bottom: 100px;
}

.docTypeCell {
  flex: 150px 0 0 !important;
}

.docNameCell {
  max-width: 12%;
}
