/* MULTISELECT */
.cDropdown {
  position: relative;
  width: auto;
  height: auto;
  border-radius: 5px;
  min-height: 1.1em;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 10px 14px;
  padding-right: 26px;
  border: 1px solid lightgrey;
  font-size: 14px;
  transition: all .2s ease-out;
  outline:0;
}
.cDropdown * {
  outline:0;
}
.cDropdown:hover {
  border-color: black;
}

.cArrow {
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 0;
  height: 100%;
}

.cMultiselect {
  height: 38px;
}

.cDrop {
  position:absolute;
  z-index: 1;
  background-color: white;
  padding: 10px 0px;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cMultidrop {
  max-height: 200px;
  overflow-y: auto;
}

.cClose {
  display: none;
}

.cSel {
  background-color: #E0E0E0;
}
.cSel:hover {
  background-color: #E0E0E0;
}

.cOptIcon {
  float: left !important;
  display: table-cell !important;
  width: 24px;
  height: 24px;
}
.cOptLabel {
  width: 100%;
  margin-left: 5px;
  vertical-align: top;
  text-align: left;
  word-wrap: break-word;
  display: table-cell;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cMultiopt {
  height: auto;
  width: 100%;
  padding: 10px 4px;
  text-align: center;
  text-overflow: ellipsis;
  display: flex;
  justify-content: left;
  align-items: center;
}
.cMultiopt:hover {
  background-color: #EEEEEE;
}

.cMultitext {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cTextLabel {
  margin-top: 20px;
}
