.compliance-section {
  margin-left: 20px;
  width: 100%;
}

.header-row {
  display: flex;
  align-items: center;
}

.header {
  font-size: 21px;
  font-weight: bold;
}

.header-status {
  font-style: italic;
  color: #9e9e9e;
}

.table-header {
  margin: 10px 0px 10px 0px;
  padding: 0px 20px;
  height: 30px;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #9e9e9e;
  > div {
    flex: 1;
  }
  > div:nth-child(1) {
    flex: .5;
    min-width: 80px;
  }
  > div:nth-child(2) {
    min-width: 175px;
  }
  > div:nth-child(3) {
    min-width: 360px;
    flex: 2;
  }
}

.action-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  > * {
    flex: 1;
  }
  > div:nth-child(1) {
    flex: .5;
    min-width: 75px;
  }
  > div:nth-child(2) {
    min-width: 175px;
  }
  > div:nth-child(3) {
    min-width: 360px;
    flex: 2;
  }
}

.no-app-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82px;
  background: #eeeeee;
  color: #757575;
  border-radius: 5px;
  margin-bottom: 10px;  
}

.text-center {
  text-align: center;
}

.action-btns {
  display: flex;
  > div {
    margin-right: 20px;
  }
}
