/* LinkRow css */
.linkRow {
  margin-bottom: 30px;
}
.linkRow > div {
  font-weight: bold;
  margin-right: 10px;
  padding-bottom: 5px;
}
.selectedLink {
  color: black;
  border-bottom: 1px solid black;
}
.link {
  color: #3d95e1;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.link:hover {
  color: #1c6db4;
}

/* AddUser css */
.addUser {
  display: flex;
  padding-top: 20px;

}
.addUser > div {
  width: 50%;
}
.addUser > div:first-child {
  width: 35%;
  border-right: 1px solid #e0e0e0;
  margin-right: 20px;
  padding-right: 20px;
}
.errClose {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.actionRow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  padding-bottom: 500px;
}

.validHead {
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: #d95c5c;
  color: white;
  fill: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.validHead li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.hide {
  display: none !important;
}

.redText {
  border-top: 1px solid #e0e0e0;
  color: red;
  padding-top: 10px;
}
